<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Projects" Description="Code analysis rules for main projects." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2007" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1512" Action="None" />
  </Rules>
</RuleSet>